<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row align-items-center">
      <div class="cui-embed" style="height: 400px; width: 100%;" data-cui-uid="pdUSD8YL" data-cui-mode="widget"></div> <script src="https://public-assets.typeform.com/confab/embed.js" async></script>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
      
        <p class="lead">
          
        </p>
        <p class="lead mb-4">
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
         
        </div>
 
        </p>
      </div>
    </div>
    {% include ads.html %}
  </div>
</main>

<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3></h3>



    <hr class="half-rule">
    
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
   

<h5></h5>


<h5></h5>

<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.popper }}" integrity="{{ site.cdn.popper_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.js }}" integrity="{{ site.cdn.js_hash }}" crossorigin="anonymous"></script>

    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/layout/overview/">Explore the docs</a>
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    {% include icons/lightning.svg width="32" height="32" class="text-primary mb-2" %}
    <h3></h3>
    <p>
    </p>
    
    <hr class="half-rule">
    <a href="{{ site.themes }}" class="btn btn-outline-primary">Browse themes</a>
  </div>
</div>
